.edit-form__description {
  border: none;
  border-bottom: 1px solid #000;
  margin-top: 30px;
  padding-bottom: 13px;
}

.edit-form__description::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
