.edit-form__submit {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

@media all and (max-width: 600px) {
  .edit-form__submit {
    font-size: 14px;
    line-height: 17px;
  }
}
