.root {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  align-items: center;
  font-family: 'Inter', 'Arial', sans-serif;
}

@media all and (max-width: 885px) {
  .root {
    padding-left: 15px;
    padding-right: 15px;
  }
}
